.wrap {
  position: relative;
  float: left;
  margin-left: 200px;
  margin-top: 200px;
  /*perspective: 100px;*/
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  transition: all 10s linear;
}
.wrap:hover {
  transform: rotateX(900deg) rotateY(900deg) rotateZ(900deg);
}
.wrap div {
  width: 100px;
  height: 100px;
  opacity: 0.3;
  position: absolute;
}
.wrap div:nth-child(1) {
  background-color: red;
  transform-origin: top;
  /*transform: rotateX(90deg);*/
}
.wrap div:nth-child(2) {
  background-color: orange;
  transform-origin: top;
  transform: rotateX(90deg);
}
.wrap div:nth-child(3) {
  background-color: blue;
  transform-origin: top;
  transform: rotateY(90deg) translate(-50px, 0) translateZ(50px);
}
.wrap div:nth-child(4) {
  background-color: yellow;
  transform-origin: top;
  transform: rotateY(90deg) translate(-50px, 0) translateZ(-50px);
}
.wrap div:nth-child(5) {
  background-color: purple;
  transform-origin: top;
  transform: rotateZ(90deg) translate(50px, -50px) translateZ(100px);
}
.wrap div:nth-child(6) {
  background-color: green;
  transform-origin: top;
  transform: rotateX(90deg) translate(0px, 0px) translateZ(-100px);
}
