<script id="listTmpl" type="text/template">
<% if(data.length){ %>
<% data.forEach(function(v,k){ %>
<div class="newblog">
  <ul>
    <h3><a href="<%=detailUrl%>/id/<%=v.id%>" target="_blank"><%=v.post_title%></a></h3>
    <div class="autor"><span>作者:<%=v.post_author%></span><span>分类<a href="/"><!-- <%=v.post_author%> --></a></span><span>浏览（<a href="/"><%=v.view_count%></a>）</span><span>评论（<a href="/"><%=v.comment_count%></a>）</span></div>
    <p><%=v.post_content%>sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss...<a href="<%=detailUrl%>/id/<%=v.id%>" target="_blank" class="readmore">查看全文</a></p>
  </ul>
  <figure><img src="images/001.jpg" ></figure>
  <div class="dateview"><%=Util.toDate(v.post_date*1000)%></div>
</div>
<% }); %>
<% } %>
</script>