.demo { 
	color: gray;/*所有现代浏览器*/ 
	+color: blue;/*IE7浏览器 */
	*color: red;/*IE6-7浏览器*/ 
	_color: orange;/*IE6浏览器*/ 
} 
@media all and (min-width:0px){ 
	.demo {color: #000;/*Webkit内核浏览器*/ }
} 
@-moz-document url-prefix(){ 
	.demo{color:yellow;}/* all firefox */ 
}

/*
filter:alpha(opacity=50);
opacity: 0.5;
*/