@charset "utf-8";
/*
版权声明：
除非中国法律另有规定，未经智能社书面许可，对于智能社拥有版权和/或其他知识产权的任何内容，任何人不得复制或在非智能社所属的服务器上做镜像或以其他任何方式进行使用；对于“智能社”商标，任何人不得擅自使用。 

违反上述声明而给智能社造成损失的，智能社将依法追究其法律责任。
*/

/*清零*/
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, dl, dt, dd, input { margin: 0; padding: 0; border: 0; }
body { font-size: 12px; font-family: '\65B0\5B8B\4F53', '\5B8B\4F53', Verdana; }
ul, ol { list-style-type: none; }
select, input, img { vertical-align: middle; outline: none; }
a { text-decoration: none; }
a { blr:expression(this.onFocus=this.blur())
}
a { outline: none; }
html { overflow-x: hidden; }
.clearfix:after { content: ""; display: block; clear: both; }
.clearfix { zoom: 1; }
.fl { float: left; }
.fr { float: right; }
/*style by zns*/
body { /*background: url(../images/bodyBg.jpg) center top no-repeat #000;*/background-color: #000; }
/*nav*/
.nav { width: 1000px; height: 96px; margin: 0 auto;}
.logo { width: 220px; float: left; overflow: hidden; padding-left: 36px; /*padding-top: 8px;*/ }
.navTxt { height: 77px; padding-top: 3px;padding-left:20px; width: 720px; margin: 0 auto; text-align: center; background: url(../images/navBg.png) left top no-repeat; /*margin-top: 26px;*/ margin-top:15px; position: relative; z-index: 2; font-family: Verdana; }
.navTxt .hover { background: url(../images/navA_hover.png) left top no-repeat; position: absolute; left: 0; top: -2px; width: 98px; height: 78px; margin-left: -4px; }
.navTxt a { font-size: 14px; /*text-shadow: 1px 1px 1px #000;*/ -webkit-transition: 0.4s all ease; -moz-transition: 0.4s all ease; -ms-transition: 0.4s all ease; -o-transition: 0.4s all ease; transition: 0.4s all ease; display: inline-block; text-align: center; line-height: 60px; /*width: 108px;*/ width:90px; height: 77px; position: relative; z-index: 31; color: #FFF; }
.navTxt a:hover { color: #63B1FF;color:#000;/* text-shadow: 1px 1px 1px #000; */}
.navTxt span { display: inline-block; width: 1px; height: 14px; overflow: hidden; background: #FFF; box-shadow: 1px 1px 0 #000; margin: 0 4px; vertical-align: top; margin-top: 24px; }
