/*em 相对的长度单位*/
/*1. em相对父元素的font-size*/
/*2. em具有继承的特点*/
/*3. 如果所有父元素都没有设置font-size, em默认值为16px*/
/*缺点：容易混乱*/

/*rem相对参照物为根元素html, 参照物不变, 比较好计算*/
/*当没有font-size, 浏览器会有一个默认的rem*/
/*1rem=16px, 这点与em是一致*/

/************
 * 基本默认值
 ************/

html{
    font-size: 62.5%;
    color:#222;/*为了文字看起来不会那么费眼，一般不用纯黑，color最深为#222*/
}
::selection{
    background-color: #b3dfcc;
    text-shadow:none;/*选中文字背景颜色取消*/
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}

/************
 * 工具样式
 ************/

.center-block{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.pull-right{
    float: right!important;
}
.pull-left{
    float: left!important;
}
.text-right{
    text-align: right!important;
}
.text-left{
    text-align: left!important;
}
.text-center{
    text-align: center!important;
}
.hide{
    display: none!important;
}
.show{
    display: block!important;
}
.invisible{
    visibility: hidden;
}
/*隐藏图片文本*/
.text-hide{
    font:0/0 a;
    color:transparent;
    text-shadow: none;
    background-color: transparent;
    border:0;
}
.clearfix:before,
.clearfix:after{
    content:" ";
    display: table;
}
.clearfix:after{
    clear: both;
}

/************
 * 自定义页面样式
 ************/

/*body{*/
    /*font-size: 1.2rem;*/
    /*line-height: 1.5;*/
    /*background-color: #f7f7f7;*/
/*}*/
/*a{*/
    /*color: #666;*/
    /*text-decoration: none;*/
/*}*/
/*a:hover, a:active{*/
    /*color: #0ae;*/
    /*text-decoration: underline;*/
/*}*/



#wrapper{
    max-width: 640px;
}
.page{
    position: relative;
    background: url('../img/page-bg.png') 0 0;
}
.page .title{
    background: url('../img/page-caption_bg.png') 0 0 no-repeat;
    margin-top: 0;
    width: 25rem;
    height: 5.6rem;
    background-size: 100%;
    opacity: 0;
}

.page.page-load .title{
    margin-top: 15%;
    opacity: 1;
    animation: title-in 1s 1;
}
@keyframes title-in{
    from {margin-top:0px;opacity: 0}
    to {margin-top:15%;opacity: 1}
}
@font-face{
    font-family: 'light';
    src: url('s.ttf');
}
.page .title span{
    font-size: 2.2rem;
    margin-left: 17%;
    display: inline-block;
    line-height: 4.9rem;
    color: #fff;
    font-weight: bold;
    width: 19rem;
    text-align: center;
    font-family: 'light';
}

/*首页样式*/
.page.index{
    background-image: url('../img/face-bg.png');
}
.page.index .logo{
    width: 70%;
    margin-top:0;
    opacity: 0;
}
.page.index.page-load .logo{
    margin-top:24%;
    opacity: 1;
    animation: index-logo-in 1s 1;
}
.page.index .logo img{
    width: 100%;
}
@keyframes index-logo-in{
    from {margin-top:0px;opacity: 0}
    to {margin-top:24%;opacity: 1}
}
.page.index .slogan{
    width: 60%;
    margin-top:0;
    opacity: 0;
}
.page.index.page-load .slogan{
    margin-top:10%;
    opacity: 1;
    animation: index-slogan-in 1s 1;
}
.page.index .slogan img{
    width: 100%;
}
@keyframes index-slogan-in{
    from {margin-top:0px;opacity: 0}
    to {margin-top:10%;opacity: 1}
}
.page.index .lbox{
    position: absolute;
    bottom: -78%;
    left: 58%;
    width: 58%;
    opacity: 0;
}
.page.index.page-load .lbox{
    bottom: -1%;
    left: 0;
    opacity: 1;
    animation: index-lbox-in 1s 1;
}
.page.index .lbox img{
    width: 100%;
}
@keyframes index-lbox-in{
    from {left:-58%;bottom:-78%;opacity: 0}
    to {left:0px;bottom:-1%;opacity: 1}
}
.page.index .rbox{
    position: absolute;
    bottom: -70%;
    right: -42%;
    width: 42%;
    opacity: 0;
}
.page.index.page-load .rbox{
    bottom: -1%;
    right: 0;
    opacity: 1;
    animation: index-rbox-in 1s 1;
}
.page.index .rbox img{
    width: 100%;
}
@keyframes index-rbox-in{
    from {right:-42%;bottom:-70%;opacity: 0}
    to {right:0px;bottom:-1%;opacity: 1}
}

/*核心理念*/
.page.hxln .text{
    color: #ff4343;
    width: 100%;
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
    opacity: 0;
    margin-top: 0;
}
.page.hxln.page-load .text{
    bottom: 28%;
    opacity: 1;margin-top: 5%;

    animation: hxln-text-in 1s 1;
}
@keyframes hxln-text-in{
    from {margin-top:0%;opacity: 0}
    to {margin-top:5%;opacity: 1}
}
.page.hxln .text b{
    font-size: 3rem;
}
.page.hxln .people-say{
    position: absolute;
    bottom: 0%;
    width: 70%;
    opacity: 0;
    left: 15%;
    color: #ffffff;
}
.page.hxln.page-load .people-say{
    bottom: 28%;
    opacity: 1;
    animation: hxln-people-say-in 1s 1;
}
@keyframes hxln-people-say-in{
    from {bottom:0%;opacity: 0}
    to {bottom:28%;opacity: 1}
}
.page.hxln .people-say .c{
    background-color: #99C0FF;
    line-height: 1.8rem;
    font-size: 1.6rem;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    padding: 0 3%;
}
.page.hxln .people-say .t-bg{
    width: 100%;
    display: block;
}
.page.hxln .people-say .b-bg{
    width: 100%;
    display: block;
}
.page.hxln .people{
    position: absolute;
    bottom: -60%;
    width: 60%;
    opacity: 0;
    left: 20%;
}
.page.hxln.page-load .people{
    bottom: 2%;
    opacity: 1;
    animation: hxln-people-in 1s 1;
}
.page.hxln .people img{
    width: 100%;
}
@keyframes hxln-people-in{
    0% {bottom:-60%;opacity: 0}
    5% {bottom:20%;opacity: 0.5}
    100% {bottom:2%;opacity: 1}
}

/*课程方向分布*/
.page.p3 .people{
    position: absolute;
    bottom: -20%;
    width: 60%;
    opacity: 0;
    left: 20%;
    transform:rotate(360deg);
    transition:width 2s, bottom 2s, opacity 2s, transform 2s ;
}
.page.p3.page-load .people{
    bottom: 30%;
    opacity: 1;
    transform:rotate(0deg);
}
.page.p3 .people img{
    width: 100%;
}
/*移动开发(延时动画效果)*/
.page.p4 .people{
    position: absolute;
    bottom: -20%;
    width: 60%;
    opacity: 0;
    left: 20%;
    transform:rotate(360deg);
    transition:width 2s, bottom 2s, opacity 2s, transform 2s ;
    transition-delay: 1s;
    transition-timing-function: ;
}
.page.p4.page-load .people{
    bottom: 30%;
    opacity: 1;
    transform:rotate(0deg);
}
.page.p4 .people img{
    width: 100%;
}

/*前端开发 多列*/
.page.p5 .column{
    column-count: 3;
    column-gap: 50px;
    column-rule: 5px outset #ff0000;
}
/*.page.p5 .people{*/
    /*position: absolute;*/
    /*bottom: -20%;*/
    /*width: 60%;*/
    /*opacity: 0;*/
    /*left: 20%;*/
    /*transform:rotate(360deg);*/
    /*transition:width 2s, bottom 2s, opacity 2s, transform 2s ;*/
    /*transition-delay: 1s;*/
/*}*/
/*.page.p5.page-load .people{*/
    /*bottom: 30%;*/
    /*opacity: 1;*/
    /*transform:rotate(0deg);*/
/*}*/
/*.page.p5 .people img{*/
    /*width: 100%;*/
/*}*/
